body {
  font-family: "Righteous", sans-serif;
  text-align: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(152, 159, 113, 0.44);
}

#title {
  color: #989f71;
  font-family: "Righteous", sans-serif;
  font-size: 50px;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 3rem;
}

#instructions {
  color: rgba(0, 0, 0, 0.54);
}

#game-header {
  color: #838862;
  background-color: rgba(152, 159, 113, 0.44);
  width: 500px;
  height: 200px;
  margin: auto;
}

#game-container {
  color: #606159;
  margin: auto;
  width: 600px;
  height: 400px;
}

.game-over {
  font-family: "Courier New", Courier, monospace;
}

.scoreboard-header {
  padding: 0;
  margin: 0;
  margin-bottom: 2rem;
  font-size: 50px;
  color: #989f71;
}

#scoreboard {
  width: 400px;
  height: 500px;
  padding: 0;
  margin: auto;
}

.name-container {
  background-color: #d9d9d9;
  width: 300px;
  margin: auto;
}

#game-container,
#game-header {
  border: 5px solid #838862;
  padding: 2rem;
  margin-bottom: 2rem;
}

button {
  background-color: #838862;
  color: #d1d4c0;
  margin-top: 2rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  border: 1px solid #4f523f;
  border-radius: 50px;
  font-family: "Righteous", sans-serif;
}

#go {
  display: none;
}

.gamername,
.scoreboard-header {
  font-weight: bold;
}

#error-message {
  display: none;
  color: rgb(86, 9, 9);
}

.game-btns {
  font-size: 90px;
  padding: 1rem 2rem 1rem 2rem;
  margin: 0.5rem;
  cursor: pointer;
}
